<div>
  <p>Olá, <%= @manager.name %>!</p>
  <p>Este e-mail é só para avisar que você foi adicionado como gestor da unidade <%= @manager.units.last.name %>.</p>
  <p>Não é necessário fazer nada, somente faça o login em sua conta e já estará apto a gerenciar a unidade <%= @manager.units.last.name %>.</p>
</div>
