<div style="font-family: sans-serif">
  <p>
    Olá <%= @student.first_name %>,
    <br>
    <br>

    você foi matriculado no curso <%= @course.name %> com sucesso e está aguardando aprovação.
  </p>
</div>
